body {
  background-color: rgb(102, 218, 199);
}

#roteiros {
    width: 95%;
    padding: 15px;
    margin: auto;
    height: 100%;
    margin-top: 60px;
}

.detalhesRoteiro {
    width: 50%;
    padding: 15px;
    margin: auto;
    height: 100%;
    text-align: center;
  }

  .fundo4 {
    padding-top: 10px;
  }

  h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 20
  }

  table {
    border-collapse: collapse;
    border-radius: 0.70em;
    overflow: hidden;
    padding-top: 50px;
  }

  .pageNavigation2 {
    width: 700px;
    margin: auto;
  }
  
  .page-link2 {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffffff;
    background-color: #454d55;
    border: 1px solid grey;
    border-radius: 2px;
  }
  
  .page-link2:hover {
    color: grey;
    text-decoration: none;
  }