body {
  overflow: hidden; 
}

.navbar {
  overflow: hidden;
  background-color:#FF8B00;
  position: absolute;
  top: 0;
  margin-bottom: 2%;
  width: 100%;
  left: 0px;
}

#title{
 color: #000000;
 font-family: 'Times New Roman';
 float: left;
 margin-left: 1%;
 cursor: pointer;
}

#title:hover{
  color: green;
}

#info{
  color: white;
  font-family: 'Times New Roman';
  float: right;
  margin-top: 1%;
  margin-right: 2%;
  font-size: 24px;
  cursor: pointer;
}

#info:hover{
  color: green;
}

#detalhe{
  position: absolute;
  top: -1000px;
  margin-left: -10px;
  background:linear-gradient(to bottom right, #ffd162,#f8ffce, #ffffff);
  color: #000000;
  padding: 8px;
  height: 600px;
  width:900px;
  float: left;
  z-index: 3;
}

#detalhe:focus{
  top: 0px;
  left: 0px;
  
}

#detalhe1{
  z-index: 1;
}

#detalhe1:focus{
  display: none;
}

#about{
  position: absolute;
  top: 0px;
  left: 0px;
  background:linear-gradient(to bottom right, #ffd162,#f8ffce, #ffffff);
  color: #000000;
  padding: 8px;
  height: 680px;
  width: 1280px;
  z-index: 3;
}

#about:focus{
top: 0px;
}

.linkDetal{color: #ffffff;}

.imgEdif{width: 200px; height: 200px;}

.bToolTip{
  color: #FF8B00;
}

#botDetalhe{
  background-color: #ff9900; 
  border: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  margin: 4px 2px;
}

#botTracar{
  background-color: #000000;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  margin: 4px 2px;
  
}

#botRemove{
  background-color: #000000;
  border: none;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  margin: 4px 2px;
}

.localBuild{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: Trattatello, fantasy;
  font-size: 26px;
}

.infoFoot{
  text-align: center;
  padding: 3px;
  background-color: rgb(131, 150, 132);
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

.contact{
  color: #ffffff;
}

.equipImg{
  border: 2px solid #ff9900;
  border-radius: 50%;
  cursor: pointer;
}

.localBuild, .descripBuild, .autBuild, .paraf2{
  margin-left: 10px;
  margin-right: 10px;
}

.descripBuild{
  font-size: 16px;
  font-family: 'Times New Roman';
}

.autBuild{
  text-align: center; 
  font-family: Marker Felt, fantasy;
  font-size: 32px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.modHeader{
  text-align: center;
}

.titBuild{
  text-align: center;
  background-color: #ff9900;
  font-family: 'Times New Roman';
}

.hrAll{
  border: 1px solid #000000;
}

.imagem{
  width: 800px; 
  height: 500px;
}

#divImage{
  width: 806px; 
  height: 526px;
  margin-left: 20%;
  border: 3px solid #ff9900;
  text-align: center;
}

.descImage{
  background-color: #ff9900;
}

.dateBuild{
  margin-left: 10px;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 20px;
}

.divRoute{
  background-color: rgb(247, 230, 230);
  width: 240px;
  height: 150px;
}

.hRoute{
  font-size: 16px;
  background-color: #ff9900;
}

.closeSpan{
  float: right;
  margin-right: 2%;
  color: rgb(146, 25, 25);
  font-size: 16px;
  cursor: pointer;
}

.closeSpan:hover{
  color: red;
}

.liRoute{
  font-size: 14px;
}

#vistRout{
  float: right;
  color: green;
  margin-right: 3%;
  cursor: pointer;
}

#vistRout:hover{
  color: #FF8B00;
}

#removRout{
  float: right;
  color: red;
  margin-right:6%;
  cursor: pointer;
}

#removRout:hover{
  color: black;
}


#idBuildName, #idBuildLoc{
  text-align: center;
}

.fotCopyRight{
  background-color: rgb(61, 55, 55);
  color: rgb(107, 173, 41);
  position: absolute;
  left: 0;
  width: 100%;
}

.sobRAM{
  font-family: 'Times New Roman';
  font-weight: bold;
}

.imgIPT{
  width: 150px; 
  height: 50px;
  margin-top: 10%; 
}

.markPath{
  visibility: hidden;
}

.rotas{
  color: #3a4402;
  font-family: 'Times New Roman';
  float: right;
  margin-top: 1%;
  margin-right: 6%;
  font-size: 18px;
  text-decoration: none;
  border: none;
  outline:none;
  background-color: transparent;
}

.tomar{
  color: #3a4402;
  font-family: 'Times New Roman';
  float: right;
  margin-top: 0.7%;
  margin-right: 6%;
  font-size: 18px;
  text-decoration: none;
  border: none;
  outline:none;
  background-color: transparent;
}


.rotas:hover{
  text-decoration: none;
  color: green;
  background-color: #FF9F00;
}

.tomar:hover{
  text-decoration: none;
  color: green;
  background-color: #FF9F00;
}

.btConsulRot{
  color: #3a4402;
  font-family: 'Times New Roman';
  float: right;
  margin-top: 1%;
  margin-right: 12%;
  font-size: 18px;
  text-decoration: none;
}

.closeS, .closeD, .closeP{
  float: right;
  margin-right: 2%;
  font-size: 20px;
  color: red;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.closeP:hover{
  color: #000000;
}


.numRoute{
  float: left;
}

.inforRoute{
  font-size: 24px;
  text-align: center;
  margin-left: 35%;

}

.pointInteres{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(245, 240, 240, 0.9);
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.mdlPointInter{
  background-color: #fff5e6;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  /* margin-left: 10%; */
  margin-top: 0%;
  margin-bottom: 0%;
  visibility: visible;
  overflow: auto;
  border: 1px solid green;
}

.closeSpnInfo{
  float: right;
  margin-right: 2%;
  font-size: 18px;
  color: red;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paraf{
  text-align: center;
  background-color: #ff9900;
  margin-top: 1px;
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#txtRoute{
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#txtRoute:hover{
  background-color: goldenrod;
}

.paraf3{
  width: 806px; 
  height: 504px;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 10%;
}


.paraf2{
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: Trattatello, fantasy;
  font-size: 26px;
}

.divInfoRoute{
  overflow: auto;
}
 

.routMPopup .leaflet-popup-tip,
.routMPopup .leaflet-popup-content-wrapper {
    background-color: mistyrose;
    max-width: 3;
    max-height: 2;
    color: red;
    margin-left: 30%;
    margin-right: 28%;
    font-size: 18px;
    text-align: left;
    border-radius: 25%;
    cursor: pointer;
}

.div2PointInterresses{
  position: fixed;
  top: 20%;
  left: 70%;
  width: 25%;
  height: 60%;
  background-color:snow;
  z-index: 1;
  border: 1px solid #000000;
  visibility: visible;
  overflow: auto;
}

.div2PointHidden{
  visibility: hidden;
}

.labelPoint{
  background-color: goldenrod;
  width: 100%;
  height: 10%;
  margin-bottom: 4%;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}



