.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    float: right;
  }

 #title{
   color: white;
   font-family: 'Times New Roman';
   float: left;
 }

 #info{
  color: white;
  font-family: 'Times New Roman';
  float: right;
  margin-right: 5%;
 }
  

  #map{
    height: 530px;
  }

