@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');


.needs-validation{
    width: 40%;
    margin:auto;
    height: 100%;
    margin-top:75px;
    color: white;
    
  }
  
    .needs-validation .custom-file {
      width: 103%;
    }

    .fundo {
      background-image: linear-gradient(to bottom, rgb(46,65,88), 
      rgb(102, 218, 199)); 
      padding-top: 10px;
      padding-bottom: 33px;
      font-family: "Roboto", sans-serif;
    }